/***************
 * Header Bars *
 ***************/

/*Headers*/
headerbar {
  background-color: @wm_active_title;
  color: @wm_active_title_text;
  margin: 0px;
  padding: 1px 2px 2px 2px;
}

headerbar:backdrop {
  background-color: @wm_inactive_title;
  color: @wm_inactive_title_text;
}

headerbar>windowhandle>box>label {
  color: @headerbar_fg_color;
  background-color: @headerbar_bg_color;
  box-shadow: none;
}

/*Fix headerbar title colors to match Xfwm4/Metacity Active/Inactive colors*/
window.background.csd headerbar label.title,
window.background.solid-csd headerbar label.title {
  background-color: @wm_active_title;
  color: @wm_active_title_text;
}

window.background.csd headerbar label.subtitle,
window.background.solid-csd headerbar label.subtitle {
  background-color: @wm_active_title;
  color: @wm_active_title_text;
}

window.background.csd headerbar:backdrop label.title,
window.background.solid-csd headerbar:backdrop label.title {
  background-color: @wm_inactive_title;
  color: @wm_inactive_title_text;
}

window.background.csd headerbar:backdrop label.subtitle,
window.background.solid-csd headerbar:backdrop label.subtitle {
  background-color: @wm_inactive_title;
  color: @wm_active_title_text;
}

/***************
 *   Borders   *
 ***************/

decoration {
  padding: 1px;
  background-color: @bg_color;
  border: 1px solid @bg_color;
  border-right: 1px solid @borders;
  border-bottom: 1px solid @borders;
  box-shadow: 1px 1px @light_shadow inset, -1px -1px @dark_shadow inset;
  border-radius: 0;
}

.csd menu {
  border: none;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
}

.csd menuitem {
  margin: 0px;
}

/* Buttons! */

headerbar.titlebar button {
  margin: 2px 1px;
  padding: 1px 2px;
}

headerbar.titlebar button:last-child {
  margin-left: 2px;
}

/***************
 *   Borders   *
 ***************/

window.csd,
window.solid-csd {
  padding: 2px;
  background-color: @bg_color;
  border: 1px solid @bg_color;
  border-right: 1px solid @borders;
  border-bottom: 1px solid @borders;
  box-shadow: 1px 1px @light_shadow inset, -1px -1px @dark_shadow inset;
  border-radius: 0;
}