/*********
 * Menus *
 *********/

menubar {
  padding: 2px;
}

menubar item label {
	margin: .4em;
}

/***********
 * Popover *
 ***********/

/*Fix menu BG color and borders*/
popover viewport {
    margin: -1px;
    border: 1px solid @bg_color;
    background-color: @bg_color;
}

/*Separator pinched horizontally like start menu/etc*/
popover.background separator  {
	border-left-width: 0px;
	border-right-width: 0px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 0px;
    margin-bottom: 1px;
}
