* {
    all: unset;
}

@import url("gtk-3.0/gtk.css");
@import url("gtk-buttons.css");
@import url("gtk-combobox.css");
@import url("gtk-csd.css");
@import url("gtk-dialog.css");
@import url("gtk-hacks.css");
@import url("gtk-menu.css");