.rde-panel-taskbar {
    padding: 2px;
    border-radius: 0px;
    border: 1px solid @button_bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders;
    border-radius: 0px;
    box-shadow: inset -1px 0 @dark_shadow, inset 0 -1px @dark_shadow, inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
}

.rde-panel-notification-area {
    padding: 0 3px;
    border: 1px solid dark_shadow;
    border-bottom: 1px solid @light_shadow;
    border-right: 1px solid @light_shadow;
    border-radius: 0px;
    box-shadow: 1px 1px @borders inset, -1px -1px @theme_bg_color inset;
}